
<% if user_signed_in? %>
<% provide(:title, current_user.name) %>
  <div class="row">
    <aside class="col-xs-5">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% else %>
<div class="jumbotron">
	 <div class="center hero-unit">
	  <h1>Callboard</h1>
		<h2>
			Пытаюсь выполнить <a href="">это задание</a>
		</h2><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
<% end %>

<div class="col-xs-10 col-offset-2">
		<ol class="posts">
			<%= render @posts %>
		</ol>
		<%= will_paginate @posts %>
</div>
