<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-xs-5">
    <section>
      <h1>
        <%= @user.name %>
        <% if @user.avatar.exists? %>
          <%= image_tag @user.avatar.url(:medium) %>
        <% end %>
      </h1>
      <div class="map">
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
      </div>
    </section>
  </aside>

  <div class="col-xs-10">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
