<div class="row">
  <div class="postBox col-xs-10">
    <% unless @post.pictures.empty? %>
      <% @post.pictures.each do |pic| %>
          <%= link_to  image_tag(pic.image.url(:medium)), pic.image.url %>
      <% end %>
    <% end %>
    <span class="content"><%= @post.content %></span>
    <span class="timestamp">
      <p class="text-right"> Posted <%= time_ago_in_words(@post.created_at) %> ago.
      </p>
    </span>
    <div class="col-xs-2 col-xs-offset-10">
      <% if current_user.try(:admin?) || current_user?(@post.user) %>
        <%= button_to "delete", @post, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: @post.content,
                                         class:"btn btn-warning btn-xs" %>
        <%= link_to "edit", edit_post_path(@post), class:"btn btn-primary btn-xs btn-block" %>
      <% end %>
    <div>
  </div>
</div>
<h2 id="commentCount">Comments(<%= @post.comments.count %>)</h2>

<div id="comments-list">
  <%= render partial: @post.reload.comments %>
</div>
<div id="comment-form">
  <%= render 'shared/comment_form' %>
</div>
